name: Black Formatter

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  black-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Black Code Formatter
        uses: lgeiger/black-action@master
        with:
          args: ". --check --diff"