name: Test (pytest)

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.test.txt
      - name: Register Python problem matcher
        run: |
          echo "::add-matcher::.github/workflows/matchers/python.json"
      - name: Install Pytest Annotation plugin
        run: |
          # Ideally this should be part of our dependencies
          # However this plugin is fairly new and doesn't run correctly
          # on a non-GitHub environment.
          pip install pytest-github-actions-annotate-failures
      - name: Test with pytest
        run: |
          pytest \
              --cov custom_components/tahoma \
              --cov-report=xml --cov-report=html \
              -o console_output_style=count \
              -p no:sugar \
              tests
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v2.1.3
        with:
          name: coverage-${{ matrix.python-version }}
          path: htmlcov
